# 忽略 Python 字节码文件
__pycache__/
*.pyc

# 忽略虚拟环境目录
venv/
env/

# 忽略特定文件
*.log
*.tmp

# 忽略 IDE 特定文件
.idea/
.vscode/

# Ignore checkpoints directory
checkpoints/

# Ignore record directory
record/

# Ignore result directory
results/